.décoimg{
    width: 100%;
    height: auto;
    margin-top: 2%;
}
.texte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
}
.titre{
    margin-bottom: 5%;
}
body{
    color: steelblue;
}
a{
    color: black;
}
a:hover{
    color: steelblue;
}
.btnsteel:hover{
    background-color: steelblue;
}
.rectangle{
    width: 40%;
    height: 25%;
    background-color: steelblue;
    z-index: -1;
    position: absolute;
    margin-top: 1%;
}
.recbas{
    display: flex;
    flex-direction: column-reverse;
}
/* .rec2{
} */
@media screen and (max-width:769px) {
    .rectangle{
        display: none;
    }  
}